<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Client Login</title>
</head>
<body>
  <div class="container avatar-container">
    <img class="avatar" src="../../assets/img/logo-def.jpg" alt="">
  </div>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
          <div class="d-flex justify-content-end social_icon">
            <span><em class="fab fa-facebook-square"></em></span>
            <span><em class="fab fa-google-plus-square"></em></span>
            <span><em class="fab fa-twitter-square"></em></span>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" id="userFrm">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><em class="fas fa-user"></em></span>
              </div>
              <input type="text" class="form-control" placeholder="username" formControlName="name" required>
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><em class="fas fa-key"></em></span>
              </div>
              <input type="password" class="form-control" placeholder="password" formControlName="pass" value="87654321" required>
            </div>
            <div class="row align-items-center remember">
              <div class="d-flex justify-content-center links">
                <a href="register/">Forget your password?</a>
              </div>
                </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn float-right login_btn">
              <input value="Invitado" class="btn float-right login_btn btn-invitado">
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            Don't have an account?<a href="register/">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer class="footer">
  <div class="container powered">
    powered by Cerberus®
  </div>
</footer>

</html>
